$white: #fff;
$black: #000;

$font-dark: #494949;
$font-light: #6a6a6a;
$font-super-ligt:#6f6f6e;

$blue: #0087be;
$grey: #e2e2e2;
$dark: #171717;

$title-font: 'Montserrat';
$primary-font: 'Open Sans';
