header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 5% 0;

    nav {
        grid-column: 1/4;
    }

    nav ul {
        font-family: $title-font, serif;
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style-type: none;
        margin: 0;
    }

    nav ul li {
        padding: 30px 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: #6a6a6a;
        font-size: 1.2em;
        font-weight: 500;
    }

    nav ul li a:hover {
        color: $blue;
    }

    .social {
        grid-column: 4/5;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        justify-items: right;
        align-items: center;
    }

    .social a {
        font-size: 1.4em;
        color: $dark;
    }

    .social a:hover {
        color: $blue;
    }

    .active {
        font-weight: 700;
        color: $dark;
    }
}

@media screen and (max-width: 1050px) {

    header {
        nav {
            grid-column: 1/-1;
        }

        .social {
            grid-column: 1/-1;
            justify-items: left;
            padding-left: 30px;margin-bottom: 20px;
        }
    }

}