.offer {
    background: url('../../img/MainDoctor.jpg') no-repeat center;
    background-size: cover;

    &__titleWrapper {
        width: 50%;
        display: grid;
        grid-template-rows: 1.5fr 0.5fr 0.8fr;
        padding: 150px 0;
    }

    h1,
    p {
        text-align: center;
    }

    .mainBtn {
        align-self: center;
    }
}

@media screen and (max-width: 1050px) {
    .offer {
        background: linear-gradient(
        rgba(255, 255, 255, 0.45), 
        rgba(255, 255, 255, 0.45)
      ), url('../../img/MainDoctor.jpg') no-repeat center;
    background-size: cover;

        &__titleWrapper {
            width: 100%;
            display: grid;
            grid-template-rows: repeat(1rf);
            padding: 50px 0;
        }
    }
}