.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 20px;
    grid-row-gap: 40px;

    &__titleGroup {
        grid-column: 1/-1;
    }

    &__imgWrapper {
        img {
            border-radius: 50%;
        }
    }

    &__item {
        text-align: center;
    }

    &__socialWrapper {
        a {
            font-size: 1.8em;
            color: $blue;
            padding: 6px;
        }
    }

    h5 {
        font-size: 1.5em;
        margin: 33px 0 15px;
    }

    p {
        margin: 15px 0 26px;
    }
}

@media screen and (max-width: 1050px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .team {
        grid-template-columns: repeat(1, 1fr);

        &__imgWrapper img {
            width: 150px;
            height: 150px;
        }
    }
}