.topBar {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.6fr 0.5fr;
    grid-column-gap: 20px;

    &__logoWrapper {
        padding-left: 10px;
    }

    &__companyContact {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr 1fr;
        font-family: $primary-font;
    }

    &__iconWrapper {
        grid-row: 1/-1;
        border-radius: 50%;
        background-color: $blue;
        color: #fff;
        display: grid;
        justify-items: center;
        align-content: center;
        font-size: 1.5em;
        height: 50px;
        width: 50px;
    }

    h5 {
        margin-bottom: 0;
        font-size: 0.9em;
        margin: auto 12px;
    }

    p {
        margin: 0;
        font-size: 0.9em;
        margin: auto 12px;
    }
}

@media screen and (max-width: 1050px) {
    .topBar {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        &__logoWrapper {
            grid-column: 1/-1;
        }
    }
}


@media screen and (max-width: 800px) {
    .topBar {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 700px) {
    .topBar {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}